
/*======BACKGROUND COLOR======*/
html {
    background-color: white !important;   /*===BACKGROUND COLOR===*/
}

.modal.page {
    background-color: #33a79c;  /*===BACKGROUND COLOR===*/
}
/*=============================*/

/*=======HEADER SETTINGS=======*/
.top-header {
  width: 100%;
  margin: 0 auto;
  background-color: white;  /*===HEADER BACKGROUND COLOR===*/
  border-radius:6px;  /*===ROUNDED CORNER SETTINGS===*/
}

.top-header .timer-row__progress-bar {
  border-top: 1px solid #185749;
    border-bottom: 1px solid #185749;
    background: #33a79c;    /*===PROGRESS BAR COLOR===*/
}

.top-header .timer-row {
    border-top: 1px solid #185749;  /*===COLORED LINE ABOVE PROGRESS BAR===*/
  border-bottom: 1px solid #185749; /*===COLORED LINE ABOVE PROGRESS BAR===*/
    background: #33a79c;  /*===PROGRESS BAR BACKGROUND COLOR===*/
}

/*============================*/

/*=====PAY WITH / AMOUNTS=====*/
.line-items {
    background-color: #33a79c;  /*===BACKGROUND COLOR===*/
    color: white !important;   /*===TEXT COLOR===*/
  padding-top: 15px;
    padding-bottom: 10px;
    border-top: 1px solid #185749 !important;
  border-bottom: 0px solid #185749;
}

.buyerTotalLine {
    border-top: 1px solid #185749;
    background-color: white;
    color: black;
  padding-top: 15px;
    padding-bottom: 12px;
}
/*==========================*/

/*=======PAYMENT TABS=======*/
.payment-tabs__slider {
  background: #33a79c;  /*===SLIDER COLOR===*/
}

.payment-tabs {
    background-color: white;  /*===BACKGROUND COLOR===*/
  color: black;
    border-top: 1px solid #185749;  /*===COLORED LINE ABOVE PAYMENT TABS===*/
  border-bottom: 1px solid #185749; /*===COLORED LINE BELOW PAYMENT TABS===*/
}
/*===========================*/

/*===OPEN IN WALLET BUTTON===*/
.action-button {
    color: #fff !important;
    background-image: linear-gradient(to bottom, #33a79c, #39c4b6);   /*===BUTTON BACKGROUND COLOR GRADIENT===*/
  border-color:white;  /*===BUTTON BORDER COLOR===*/
  box-shadow: 0px 0px 15px -3px #000000;  /*===DROP SHADOW SETTINGS===*/
  border-radius: 6px;   /*===ROUNDED CORNER SETTINGS===*/
}

.action-button:hover {
    background-image: linear-gradient(to top, #33a79c, #39c4b6);  /*===HOVER BUTTON BACKGROUND COLOR GRADIENT===*/
  border-color:#185749; /*===BUTTON BORDER COLOR===*/
}
/*============================*/

/*===BOLT/NODE INFO BUTTONS===*/
.btnGroupLnd {
  box-shadow: 0px 0px 15px -3px #000000;  /*===DROP SHADOW SETTINGS===*/
  background-color:#33a79c; /*===BUTTON BACKGROUND COLOR (IF NO GRADIENT IS WANTED DELETE LINE ABOVE THIS)===*/
  border-color:#fff;  /*===BUTTON BORDER COLOR===*/
  border-radius: 6px; /*===ROUNDED CORNER SETTINGS===*/
}

.btnGroupLnd button {
  background-color:#33a79c; /*===BUTTON BACKGROUND COLOR (IF NO GRADIENT IS WANTED DELETE LINE ABOVE THIS)===*/
  border-color: #fff; /*===BUTTON BORDER COLOR===*/
}

.btnGroupLnd button.active {
  background-color:#33a79c; /*===BUTTON BACKGROUND COLOR (IF NO GRADIENT IS WANTED DELETE LINE ABOVE THIS)===*/
  border-color: #fff;   /*===BUTTON BORDER COLOR===*/
}
/*===========================*/

/*=====CURRENCY DROPDOWN=====*/
.payment__currencies {
  border-radius:6px;  /*===ROUNDED CORNER SETTINGS===*/
  background-color: #33a79c; /*===BACKGROUND COLOR DROPDOWN MENU===*/
}

.payment__currencies:hover {
  background: #33a79c; /*===MENU HOVER HIGHLIGHT COLOR===*/
}

.currency-selection {
    background-color: white;  /*===BACKGROUND COLOR===*/
    border-bottom: 0px solid #33a79c;
    color: black;  /*===TEXT COLOR===*/
    padding-top: 15px;
    padding-bottom: 10px;
    height: auto;
}

.vex.vex-theme-btcpay .vex-content  {
  padding: 1px;
  border-radius:0px; /*===ROUNDED CORNER SETTINGS===*/
  box-shadow: 0px 0px 15px -3px #000000; /*===DROP SHADOW SETTINGS===*/
}

.vexmenu  {
  background-color:#33a79c; /*===BACKGROUND COLOR===*/
}

.vexmenuitem:hover {
  background: #fff; /*===MENU BACKGROUND COLOR===*/
}
/*===========================*/

/*===QR AND QR BACKGROUND===*/
.invoice {
    background-color: white;  /*===MENU BACKGROUND COLOR===*/
  border-radius: 6px; /*===ROUNDED CORNER SETTINGS===*/
}

.payment-box {
  height:420px; /*===SIZE IMPORTANT BECAUSE HEIGHT LIGHTNING QR CODE + OUTLINE===*/
}

.payment__scan {
  width:276px;
  height:276px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:5px;
  margin-top:0px;
  border: 10px solid #f5f5f7; /*===QR CODE BORDER SIZE/COLOR (LEAVE AS IS FOR QUICK SCANNING)===*/
}

.recommended-fee {
  margin-top:15px;
}

.expired__body {
    color: black;
}
/*==========================*/

/*======COLOR OF LINKS======*/
a {
  color: black !important;  /*===LINK COLOR===*/
}
/*==========================*/

/*==="COLOR OF SOME TEXTS===*/
span {
  color:black; /*===TEXT COLOR===*/
}
/*=========================*/

/*=====LANGUAGE SELECT=====*/
#prettydropdown-DefaultLang ul {
  color: #33a79c !important; /*  ===TEXT COLOR=== */
  background-color: white !important;   /*===BACKGROUND COLOR===*/
}
/*===========================*/

/*====INSTRUCTIONAL TEXTS====*/
.manual__step-one__header {
    color: #fff;  /*===TEXT COLOR===*/
  opacity: 1;
}
.content-faded, .manual__step-one__instructions, .manual__step-two__instructions {
    color: #fff;  /*===TEXT COLOR===*/
  opacity: 1;
}
/*===========================*/

/*====COPY INFO BOX/TEXTS====*/
.copyBox {
  background-color:white;
  border-color:#185749;
}

.copyAmountText {
  color: black;  /*===TEXT COLOR===*/
}

.copySectionBox label {
  color: black;  /*===TEXT COLOR===*/
  opacity: 1;
}

.separatorGem {
  background:#33a79c; /*===GEM ICON COLOR===*/
}
/*===========================*/

/*====PAYMENT SUCCES PAGE====*/
/*
.success-block {
  background-image: linear-gradient(to bottom, #fbff0000, #fff700f2); /*===GRADIENT BACKGROUND===*//*
}
*/
.success-message {
  color: black; /* ===TEXT COLOR=== */
}
 