html {
    background-color: white !important;
  }
  
  .modal.page {
    background-color: #eeeeee;
  }
  

  .top-header > .header {
    background-color: transparent;
  }
  
  .top-header .timer-row__progress-bar {
    background-color: #fff;
    background: #2BB673;
  }
  
  .top-header .timer-row {
    background: #2BB673;
  }
  
  .payment-tabs__slider {
    background: #2BB673;
  }
  
  .action-button {
    color: #fff !important;
    background-color: #2BB673;
  }
  
  .action-button:active {
    /* background-image: linear-gradient(to right, #00c3ff, #1187c1); */
  }
  
  .invoice {
    background-color: #fff;
  }
  
  .expired__body {
    color: #fff;
  }
  
  .currency-selection {
    background-color: #fff;
    border-bottom: 1px solid #2BB673;
    color: #;
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;
  }
  
  .line-items {
    background-color: #111316;
    color: #565d6e !important;
    border-top: 1px solid #565d6e !important;
  }
  
  .buyerTotalLine {
    border-top: 1px solid #202224;
    background-color: #15181c;
    color: #fff;
  }
  
  .payment-tabs {
    background-color: #15181c;
    color: #fff;
    border-top: 1px solid #565d6e;
    border-bottom: 1px solid #565d6e;
  }
  
  .payment-tabs__tab .active {
    color: #00c3ff;
  }
  
  .payment-tabs__tab.active {
    color: #00c3ff;
  }
  
  a {
    color: #00c3ff !important;
  }
  
  canvas {
    border: 5px solid #fff;
  }
  
  #prettydropdown-DefaultLang ul {
    color: #565d6e !important;
    background-color: #111316 !important;
  }
  
  .manual__step-one__header {
      color: #ffffff;
  }
  .manual__step-one__instructions {
      color: #ffffff;
  }
  
  .payment__currencies:hover {
      background: rgba(248, 248, 248,0.1);
  }
  
  .recommended-fee{
      margin-top: 10px;
  }
   